<!DOCTYPE html>
<html>
<head>
	<title>Contact form</title>
<!-- 	<meta name="viewport" content="width=device-width,initial-scale=1">
 -->	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

<style>
	.message{
margin-top: 15%;
text-align: center;
color: white;
font-weight: bold;
font-size: 30px;
}
</style>



</head>
<body>
	
	<div class="sign_up">
		{% with messages = get_flashed_messages() %}
   		{% if messages %}
      		{% for message in messages %}
      		<div class="message">
         		{{ message }}
         	</div>
      		{% endfor %}
   		{% endif %}
	{% endwith %}
	</div>
</body>
</html>